$color-blue: #2786fe;

.register {
  height: 100%;
  width: 100vw;
  background-image: url("/images/login.jpg");
  max-width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    width: 40%;
    background-color: white;
    padding: 30px;

    h1 {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 15px;

      input {
        flex: 1;
        min-width: 40%;
        padding: 12px 20px;
        font-size: 15px;
      }

      .error {
        color: red;
        width: 100%;
      }

      div {
        display: flex;
        column-gap: 20px;
        color: rgb(40, 40, 40);
        font-size: 15px;

        input {
          height: 20px;
          min-width: fit-content;
        }

        label {
        }
      }

      button {
        width: 40%;
        background-color: $color-blue;
        color: white;
        padding: 14px 16px;
        font-size: 15px;
        font-weight: 400;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #2788fee1;
          transition: all 0.1s ease;
        }

        &:focus {
          outline: 2px solid $color-blue;
        }
      }

      .link {
        font-size: 14px;
        cursor: pointer;
        margin: 5px 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
