.categories {
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 100vw));
  grid-template-rows: repeat(2, minmax(250px, 40vh));
  row-gap: 10px;
  column-gap: 15px;
  padding: 10px;

  .image-container {
    position: relative;
  }

  div:first-child {
    grid-row: 1;
    grid-column: 1;
  }

  div:nth-child(2) {
    grid-row: 2;
    grid-column: 1;
  }

  div:nth-child(3) {
    grid-row: 1 / span 2;
    grid-column: 2;
  }

  div:nth-child(4) {
    grid-row: 1;
    grid-column: 3;
  }

  div:nth-child(5) {
    grid-row: 1;
    grid-column: 4;
  }

  div:last-child {
    grid-row: 2;
    grid-column: 3 / span 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    background-color: white;
    color: black;
    border: none;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    padding: 12px 16px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      background-color: ghostwhite;
    }
  }
}
