.footer {
  margin: auto 150px 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .top {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;

      h2 {
        font-size: 20px;
        font-weight: normal;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: gray;
      }

      .about {
        text-align: justify;
        color: gray;
        line-height: 24px;
        letter-spacing: 1px;
      }

      .contact-item {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          color: gray;
        }
      }
    }

    .item:nth-child(n + 3) {
      flex: 1.4;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      .logo {
        color: #2879fe;
        font-size: 32px;
      }

      .copyright {
        color: gray;
        font-size: 14px;
      }

      @media screen and (max-width: 1150px) {
        margin: 0 auto;
      }
    }

    .right {
      .payments {
        max-width: 450px;
      }

      @media screen and (max-width: 1150px) {
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 1150px) {
      text-align: center;
      gap: 20px;
    }
  }
}
