.products-menu {
  flex: 1;
  position: sticky;
  top: 50px;
  height: 100vh;
  box-shadow: 8px 8px 10px white;
  display: flex;
  flex-direction: column;
  gap: 25px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .filter-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 17px;
      font-weight: 600;
    }

    .input-item {
      display: flex;
      align-items: center;
      gap: 10px;

      .link.category,
      .link.subcategory,
      .link.type {
        display: flex;
        gap: 10px;
        text-transform: capitalize;
        font-size: 15px;
      }

      label {
        font-size: 15px;
      }

      input,
      label:hover {
        cursor: pointer;
      }

      .link.category:hover,
      .link.subcategory:hover,
      .link.type:hover,
      label:hover {
        font-weight: 500;
      }
    }
  }
}
